! clean up urxvt, add keybinds
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.cursorBlink: 1
URxvt.urgentOnBell: true

! font
URxvt.font: xft:UbuntuMono:size=12

! terminal padding
URxvt.internalBorder: 10

! make otf / ttf fonts look pretty.  does not matter if you are using a bitmap font.
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! clickable links, clipboard support, mouse wheel support, and on the fly font resizing
! you will need to install the relevent perl extensions for these to work
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,matcher,vtwheel

! colors
*.cursorColor:  #ffffff
URxvt.intensityStyles: false
URxvt*depth: 32
URxvt*background: rgba:1b00/2100/2c00/c800
!#2f343f

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! define rofi settings
rofi.eh: 1
rofi.fullscreen: true
rofi.padding: 300
rofi.bw: 0
rofi.color-enabled: true
rofi.color-window: #DD2f343f, #f3f4f5, #f3f4f5
rofi.color-normal: #002f343f, #f3f4f5, #002f343f, #002f343f, #9575cd
rofi.color-active: #002f343f, #f3f4f5, #002f343f, #002f343f, #9575cd
rofi.color-urgent: #002f343f, #f3f4f5, #002f343f, #002f343f, #9575cd
rofi.separator-style: solid
rofi.hide-scrollbar: true
